{% extends "base.html" %}

{% block title%}
Home
{% endblock %}

{% block content %}
<br />
<a href="/manage">
        <button type="button" style="height: 60px; position:relative; left: 0%; top:10%; Font-size: 30px;" class="btn btn-outline-secondary">Return to menu</button>
</a>
<br />
<h1> Manage Disks</h1>
<br />

<form method="POST">
        
        <script language="JavaScript">
                function toggle(source) {
                        checkboxes = document.getElementsByTagName("input");
                        for (var i = 0, n = checkboxes.length; i < n; i++) {
                                checkboxes[i].checked = source.checked;
                        }
                }
        </script>
        <div class="form-group">
                <h5>
                        <input type="checkbox" class="largerCheckbox" onClick="toggle(this)" />
                        SEL/DESEL ALL
                </h5>
        </div>
        {%for i in range(disks|length)%}
        {%if i != 0%}
        {%if disks[i][1] != disks[i-1][1]%}
        <h5>
                <img src="{{url_for('static', filename='nas-drives.png')}}" width="20" height="20"
                        style="position:relative; top: -3px; background-color:aliceblue">
                HOST {{disks[i][1]}}
        </h5>
        {%endif%}
        {%elif i==0%}
        <h5>
                <img src="{{url_for('static', filename='nas-drives.png')}}" width="20" height="20"
                        style="position:relative; top: -3px">
                HOST {{disks[0][1]}}
        </h5>
        {%endif%}
        {% autoescape false %}
        <h5>
                <img src="{{url_for('static', filename='nvme-ssd.png')}}" width="20" height="20"
                        style="position:relative; top: -3px">
                <input type="checkbox" class="largerCheckbox" id="{{disks[i][0]}}" name="{{disks[i][0]}}" value="1">
                DISK {{disks[i][0]}}<br />
        </h5>
        {% endautoescape%}

        {%endfor%}
        <br />
        <p>
                <button type="submit" name="submit_button" value="1" class="btn btn-primary btn-block">
                        Give&Enable Tags</button>
                <button type="submit" name="submit_button" value="2" class="btn btn-warning btn-block">
                        Disable&Remove Tags</button>
        </p>
</form>

{% endblock %}