{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <style>
        @media screen and (min-width: 1201px) {
            #login-window {
                width: 70%;
                max-width: 70%;
            }

            #recent {
                width: 30%;
                max-width: 30%;
            }

            #container {
                display: flex;
            }
        }

        @media screen and (max-width: 1200px) {
            #login-window {
                width: 100%;
                max-width: 100%;
            }

            #recent {
                width: 100%;
                max-width: 100%;
            }

            #container {
                display: block;
            }
        }
    </style>

    <script>
    $(window).ready(function () {
        $(".auto-fill").click(function(){
            let host = $(this).attr("host")
            let port = $(this).attr("port")
            $("#url").val(host)
            $("#port").val(port)
        })
    })

    </script>


    <div id="container" style="margin-top: 10vh;">

        <div id="login-window">
            <div class="mdui-shadow-10 mdui-typo" style="width: 100%; padding: 30px;">
                <div>
                    <div style="text-align: center">
                        <img src="{{ url_for('static',filename='logo.svg') }}" style="height: 10vh; margin-top: 5%">
                        <h3>Input Address</h3>
                    </div>
                    <form method="post">
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">URL</label>
                            <input id="url" name="url" class="mdui-textfield-input" type="url"
                                   placeholder="https://172.16.4.248"/>
                        </div>
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">PORT</label>
                            <input id="port" name="port" class="mdui-textfield-input" type="number" placeholder="8443"/>
                        </div>
                        <div class="mdui-row-xs-1">
                            <div class="mdui-col">
                                <button id="login-button" type="submit"
                                        class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple">
                                    Connect
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="recent" class="mdui-shadow-21">
            <ul class="mdui-list">
                {%for element in config:%}
                <li class="mdui-list-item mdui-ripple auto-fill" host="{{element['host']}}" port="{{element['port']}}">
                    <i class="mdui-list-item-icon mdui-icon material-icons">send</i>
                    <div class="mdui-list-item-content">{{element['host'] + ':'+ element['port']|string}}</div>
                </li>
                {%endfor%}
            </ul>
        </div>



    </div>
{% endblock %}