{% extends "base.html" %}

{% block title%}
Home
{% endblock %}

{% block content %}
<br />
<h1> HCD Disk Management System beta</h1>
<br />

<form method="POST">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control" id="url" name="url" placeholder="https://172.16.4.248" />
    </div>
    <div class="form-group">
        <label for="port">PORT</label>
        <input type="port" class="form-control" id="port" name="port" placeholder="8443" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block" style="background-color:#F06292"><b>Manage Cluster</b></button>

</form>

{% endblock %}