{%extends "base.html"%}
{%block content%}
<br/>
<a href="/disk">
<button type="button" style="height: 60px; " class="btn btn-outline-primary btn-block">Manage Disks</button>
</a>
<br/>
<a href="/disk">
    <button type="button" style="height: 60px; " class="btn btn-outline-warning btn-block" href="">Manage Host</button>
</a>
<br/>
<a href="/disk">
    <button type="button" style="height: 60px; " class="btn btn-outline-success btn-block" href="">Manage Cluster</button>
</a>
<br/>
<a href="/disk">
    <button type="button" style="height: 60px; " class="btn btn-outline-secondary btn-block" href="/volume">Manage Volume</button>
</a>
<br/>
<a href="/disk">
    <button type="button" style="height: 60px; " class="btn btn-outline-danger btn-block">Advanced</button>
</a>
<br/>
{%endblock%}