{% extends "base.html" %}

{% block content %}
<div class="mdui-container" style="padding-top: 20vh;">
    <div class="mdui-shadow-5 mdui-typo" style="width: 70%; margin-left: 15%;padding: 10px;">
        <div>
            <div style="text-align: center">
                <img src="{{url_for('static',filename='logo.svg')}}" style="height: 10vh; margin-top: 5%">
                <h3>HCD Login</h3>
            </div>
            <form method="post">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">Username</label>
                <input id="username" name="username" class="mdui-textfield-input" type="username" placeholder="Enter Username"/>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">Password</label>
                <input id="password"  name="password" class="mdui-textfield-input" type="password" placeholder="Enter Password"/>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">Confirm</label>
                <input id="password1"  name="password1" class="mdui-textfield-input" type="password" placeholder="Enter Password Again"/>
            </div>
            <div class="mdui-row-xs-1">
                <div class="mdui-col">
                    <button id="login-button" type="submit" class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple">
                        Login
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}